@using Swarojgaar.Data
@model Swarojgaar.Models.User

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<h1>User Details</h1>
<hr/>
<div class="row">
    <div class="col-sm-6">
        <dl class="row">
            <dt class="col-sm-4">Name</dt>
            <dd class="col-sm-8">@Model.FirstName @Model.LastName</dd>

            <dt class="col-sm-4">Email</dt>
            <dd class="col-sm-8">@Model.Email</dd>
            
            <dt class="col-sm-4">Contact Number</dt>
            <dd class="col-sm-8">@Model.PhoneNumber</dd>
            
            <dt class="col-sm-4">Location</dt>
            <dd class="col-sm-8">@Model.Location</dd>
            <!-- Display the document download link if the user has uploaded a document -->
            @if (!string.IsNullOrEmpty(Model.DocFile))
            {
                <dt class="col-sm-4">Document</dt>
                <dd class="col-sm-8">
                    <a class="btn btn-success" asp-action="DownloadDocument" asp-route-docFileName="@Model.DocFile"><i class="bi bi-cloud-arrow-down-fill"></i> Download Document</a>
                </dd>
            }
            <p>
                <a asp-action="Index" class="btn btn-warning"><i class="bi bi-box-arrow-left"></i> Back to List</a>
            </p>
            <!-- Add other user details as needed -->
        </dl>
    </div>
    <div class="col-sm-6">
        <img src="/profile/@Model.IdentityImage" alt="User Image" class="img-fluid rounded"  style="height: 250px; width: 250px; object-fit: cover;">
    </div>
</div>

