@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Swarojgaar.Data
@model Swarojgaar.ViewModel.SavedJobVM.SavedJobDetailVM
@inject ApplicationDbContext _dbContext
@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager

@{
    ViewData["Title"] = "GetDetails";
}

<h1>Apply to @Html.DisplayFor(model => model.Title)?</h1>
@{
    var currentJob = await _dbContext.Jobs.FindAsync(Model.JobId);
    var currentCompany = await UserManager.FindByIdAsync(currentJob.UserId);
}
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Organization
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => currentCompany.FirstName)
            @Html.DisplayFor(model => currentCompany.LastName)
        </dd>
        <dt class="col-sm-2">
            Location
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => currentCompany.Location)
        </dd>
        <dt class="col-sm-2">
            Contact Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => currentCompany.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormattedExpiryDate)
        </dd>
    </dl>
</div>
<form method="post" asp-controller="SaveJob" asp-action="ApplyAndRemove">
    <input type="hidden" asp-for="SavedJobId" />
    <input type="submit" value="Apply" asp-route-savedJobId="@Model?.SavedJobId" class="btn btn-success" />
    <a asp-controller="SaveJob" asp-action="Index" class="btn btn-warning">Back to List</a>
</form>
@* <div>
    <a asp-controller="JobApplication" asp-action="CreateJobApplication" asp-route-id="@Model?.JobId" class="btn btn-success">Apply</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Back to List</a>
</div> *@