@using System.Security.Claims
@model List<Swarojgaar.ViewModel.SavedJobVM.GetAllSavedJobsVM>

@if (TempData["ResultOk"] != null)
{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["ResultOk"]');
    </script>
}

@{
    // Get the current user's information
    var userId = Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var userSavedJobs = Model.Where(x => x.UserId == userId).ToList();
}
<h2>Your Saved Jobs</h2>

@if (userSavedJobs.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Salary
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in userSavedJobs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        <input type="hidden" name="savedJobId" value="@item.SavedJobId">
                        <a asp-controller="SaveJob" asp-action="ApplyAndRemove" asp-route-savedJobId="@item.SavedJobId" class="btn btn-success">Apply</a>
                        <a asp-controller="SaveJob" asp-action="DeleteSavedJob" asp-route-savedJobId="@item.SavedJobId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>