@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Swarojgaar.ViewModel.JobVM.DetailsJobVM

@{
    ViewData["Title"] = "GetDetails";
}

<h1>Save this job!</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormattedExpiryDate)
        </dd>
    </dl>
</div>
<form method="post" asp-controller="SaveJob" asp-action="SaveJob">
    <input type="hidden" asp-for="JobId" />
    <input type="submit" value="Save" asp-route-id="@Model?.JobId" class="btn btn-success" />
    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Back to List</a>
</form>
@* <div>
    <a asp-controller="SaveJob" asp-action="SaveJob" asp-route-id="@Model?.JobId" class="btn btn-success">Save</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Back to List</a>
</div> *@