@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Swarojgaar.Data
@model X.PagedList.IPagedList<Swarojgaar.ViewModel.JobVM.GetAllJobsVM>
@inject ApplicationDbContext _dbContext
@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="row">
    @foreach (var item in Model)
    {
        var currentPoster = UserManager.FindByIdAsync(item.UserId).Result;

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <h1>🔥</h1>
                <div class="text text-success">
                    <h5>@Html.DisplayFor(modelItem => currentPoster.FirstName) @Html.DisplayFor(modelItem => currentPoster.LastName)</h5>
                </div>
                <div class="title">
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                </div>
                <div class="text">
                    <span>@Html.DisplayFor(modelItem => item.Description)</span>
                </div>
                <div role="group" class="w-60 btn-group">
                    <a asp-action="Edit" asp-route-id="@item.EncryptedJobId" class="btn btn-primary mx-1 rounded"><i class="far fa-edit"></i> Edit</a>
                    <a asp-action="Details" asp-route-id="@item.EncryptedJobId" class="btn btn-info mx-1 rounded"><i class="far fa-question-circle"></i> Details</a>
                    <a asp-action="Delete" asp-route-id="@item.EncryptedJobId" class="btn btn-danger mx-1 rounded"><i class="far fa-trash-alt"></i> Delete</a>
                </div>

                <div class="row">
                    <div class="col-12 text-center mt-2">
                        <a asp-action="JobApplicants" asp-route-jobId="@item.JobId" class="btn btn-success rounded" style="width: 215px"><i class="fas fa-list-ul"></i> View Job Applicants</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
