@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Swarojgaar.Data
@model Swarojgaar.ViewModel.JobVM.DetailsJobVM
@inject ApplicationDbContext _dbContext
@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager

@{
    ViewData["Title"] = "Delete Job";
    var currentJob = await _dbContext.Jobs.FindAsync(Model.JobId);
    var currentCompany = await UserManager.FindByIdAsync(currentJob.UserId);
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container mt-4">
    <div class="card">
        <h5 class="card-header bg-danger text-white">Delete Job</h5>
        <div class="card-body">
            <h6 class="text-danger">Are you sure you want to delete this job?</h6>
            <dl class="row">
                <dt class="col-sm-3">Organization:</dt>
                <dd class="col-sm-9">@currentCompany.FirstName @currentCompany.LastName</dd>
                <dt class="col-sm-3">Location:</dt>
                <dd class="col-sm-9">@currentCompany.Location</dd>
                <dt class="col-sm-3">Contact Number:</dt>
                <dd class="col-sm-9">@currentCompany.PhoneNumber</dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Title):</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Title)</dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.JobSummary):</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.JobSummary)</dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description):</dt>
                <dd class="col-sm-9">
                    <div class="job-description">
                        @Html.Raw(Model.Description) <!-- Render the HTML content of the description -->
                    </div>
                </dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Salary):</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Salary)</dd>
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ExpiryDate):</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FormattedExpiryDate)</dd>
            </dl>
            <form asp-controller="Jobs" asp-action="Delete">
                <input type="hidden" asp-for="EncryptedJobId" />
                <div class="text-center">
                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</button>
                    <a asp-action="Index" class="btn btn-success"><i class="bi bi-x-circle"></i> Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
